@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;     
  --text-color: #000000;    
  --gradient-from: #fffcfc; 
  --gradient-to: #d6d6d6;    
  --radius : 5px
}

.dark {
  --bg-color: #0e0e18;      /* لون الخلفية للوضع الداكن */
  --text-color: #ffffff;     /* لون النص للوضع الداكن */
  --gradient-from: #08080f;  /* بداية التدرج للوضع الداكن (مثلاً gray-900) */
  --gradient-to: #1b222c;    /* نهاية التدرج (مثلاً gray-800) */
}
.container{
  max-width: 1050px;
}
:lang(ar) {
  font-family: var(--font-cairo), sans-serif;
}
html{
  scroll-behavior: smooth;
}
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-poppins), sans-serif;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--gradient-to);
  border-radius: 4px;
}


@keyframes move-bg {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-move-bg {
  animation: move-bg 2.5s ease-in-out infinite alternate;
}