@tailwind base;
@tailwind components;
@tailwind utilities;

/* الوضع الفاتح */
:root {
  --bg-color: #ffffff;      /* لون الخلفية للوضع الفاتح */
  --text-color: #000000;     /* لون النص للوضع الفاتح */
  --gradient-from: #fffcfc;  /* بداية التدرج للوضع الفاتح */
  --gradient-to: #d6d6d6;    /* نهاية التدرج (مثلاً gray-300) */
}

/* الوضع الداكن */
.dark {
  --bg-color: #08080f;      /* لون الخلفية للوضع الداكن */
  --text-color: #ffffff;     /* لون النص للوضع الداكن */
  --gradient-from: #08080f;  /* بداية التدرج للوضع الداكن (مثلاً gray-900) */
  --gradient-to: #1b222c;    /* نهاية التدرج (مثلاً gray-800) */
}

:lang(ar) {
  font-family: var(--font-cairo), sans-serif;
}
/* تطبيق المتغيرات على الجسم */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-poppins), sans-serif;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--gradient-to);
  border-radius: 4px;
}


@keyframes move-bg {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-move-bg {
  animation: move-bg 2.5s ease-in-out infinite alternate;
}
