@tailwind base;
@tailwind components;
@tailwind utilities;

/* الوضع الفاتح */
:root {
  --bg-color: #ffffff;      /* لون الخلفية للوضع الفاتح */
  --text-color: #000000;     /* لون النص للوضع الفاتح */
}

/* الوضع الداكن */
.dark {
  --bg-color: #08080f;      /* لون الخلفية للوضع الداكن */
  --text-color: #ffffff;     /* لون النص للوضع الداكن */
}

/* تطبيق المتغيرات على الجسم */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #6865f1;
  border-radius: 4px;
  transition: background 0.3s ease;
}

@keyframes move-bg {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-move-bg {
  animation: move-bg 2.5s ease-in-out infinite alternate;
}